{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p style="color:#ffffff; font-size: 20pt; text-decoration: none;font-family:Lobster;background-color: #ff9400; margin-top: 0; padding: 20px 20px 20px 40px;">Авторизация.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td style="font-family:Lobster">{{ form.username.label_tag }}</td>
    <td style="font-family:Lobster">{{ form.username }}</td>
</tr>
<tr>
    <td style="font-family:Lobster">{{ form.password.label_tag }}</td>
    <td style="font-family:Lobster">{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" style="font-family:Lobster" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}