<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container-fluid">

<div class="row">
  <div class="col-sm-2">
  {% block sidebar %}
  <ul class="sidebar-nav">
    <li style="font-family:Lobster"><a href="{% url 'index' %}">Главная страница</a></li>
    <li style="font-family:Lobster"><a href="{% url 'books' %}">Книги</a></li>
    <li style="font-family:Lobster"><a href="{% url 'authors' %}">Авторы</a></li>
  </ul>
 
  <ul class="sidebar-nav">
   {% if user.is_authenticated %}
     <li style="font-family:Lobster">Пользователь: {{ user.get_username }}</li>
     <li style="font-family:Lobster"><a href="{% url 'my-borrowed' %}">Мной заимствованные</a></li>
     <li style="font-family:Lobster"><a href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>   
   {% else %}
     <li style="font-family:Lobster"><a href="{% url 'login'%}?next={{request.path}}">Войти</a></li>   
   {% endif %} 
  </ul>
  
   {% if user.is_staff %}
   <hr />
   <ul class="sidebar-nav">
   <li style="font-family:Lobster">Сотрудник</li>
   {% if perms.catalog.can_mark_returned %}
   <li style="font-family:Lobster"><a href="{% url 'all-borrowed' %}">Все заимствованные</a></li>
   {% endif %}
   </ul>
    {% endif %}
 
{% endblock %}
  </div>
  <div class="col-sm-10 ">
  {% block content %}{% endblock %}
  
  {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">предыдущий</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">следующий</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %} 
  
  
  </div>
</div>

</div>
</body>
</html>
