{% extends "base_generic.html" %}

{% block content %}

{% load static %}

<h1 style="color:#ffffff; font-size: 36pt; text-decoration: none;font-family:Lobster;background-color: #ff9400; margin-top: 0; padding: 20px 20px 20px 40px;">Местная Бибилиотека</h1>


<p>Добро пожаловать на сайт <em>Местной Библиотеки</em>, здесь вы можете узнать о наличии любой книги не выходя из дома!</p>
<p>Вот уже 12 лет наша библиотека помогает читателям ориентироваться в современной литературе – российской и зарубежной. Здесь собрано все, что нужно знать о книжных новинках, писателях, рейтингах, спорах, ссорах, перемириях, взлетах и падениях в литературном мире.</p>
  




<p style="font-family:Lobster;font-size: 20pt; text-decoration: none; padding: 0px 0px 0px 40px"><strong>Библиотека имеет следующее количество записей:</strong></p>
<ul>
<li>Книги: {{ num_books }}</li>
<li>Экземпляры: {{ num_instances }}</li>
<li>Доступные копии: {{ num_instances_available }}</li>
<li>Авторы: {{ num_authors }}</li>
</ul>



Вы посетили эту страницу {{ num_visits }} раз.

{% endblock %}