{% extends "base_generic.html" %}

{% block content %}

<h1 style="color:#ffffff; font-size: 36pt; text-decoration: none;font-family:Lobster;background-color: #ff9400; margin-top: 0; padding: 20px 20px 20px 40px;">Автор: {{ author }} </h1>
<p>{{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %}</p>

<div style="margin-left:20px;margin-top:20px">
<h4 style="font-family:Lobster;">Книги</h4>

<dl>
{% for book in author.book_set.all %}
  <dt><a href="{% url 'book-detail' book.pk %}">{{book}}</a> ({{book.bookinstance_set.all.count}})</dt>
  <dd>{{book.summary}}</dd>
{% endfor %}
</dl>

</div>
{% endblock %}
