{% extends "base_generic.html" %}

{% block content %}

<h1 style="color:#ffffff; font-size: 36pt; text-decoration: none;font-family:Lobster;background-color: #ff9400; margin-top: 0; padding: 20px 20px 20px 40px;">Список авторов</h1>

{% if author_list %}
  <ul>

  {% for author in author_list %}
    <li>
      <a href="{{ author.get_absolute_url }}">
      {{ author }} ({{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %})
      </a>
    </li>
  {% endfor %}

 </ul>
{% else %}
  <p>There are no authors available.</p>
{% endif %}
        
        
        
{% endblock %}

