{% extends "base_generic.html" %}

{% block content %}

<h1 style="color:#ffffff; font-size: 36pt; text-decoration: none;font-family:Lobster;background-color: #ff9400; margin-top: 0; padding: 20px 20px 20px 40px;">Заглавие: {{ book.title }}</h1>

<p><strong style="font-family:Lobster;">Автор:</strong> <a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a></p>
<p><strong style="font-family:Lobster;">Описание:</strong> {{ book.summary }}</p>
<p><strong style="font-family:Lobster;">ISBN:</strong> {{ book.isbn }}</p> 
<p><strong style="font-family:Lobster;">Язык:</strong> {{ book.language }}</p>  
<p><strong style="font-family:Lobster;">Жанр:</strong> {{ book.genre.all|join:", " }}</p>

<div style="margin-left:20px;margin-top:20px;">
<h4 style="color:#ffffff; font-size: 20pt; text-decoration: none;font-family:Lobster;background-color: #ff9400; margin-top: 0;padding: 20px 20px 20px 40px;">Экземпляры</h4>

{% for copy in book.bookinstance_set.all %}
<hr>
<p style="font-family:Lobster;" class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'd' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
{% if copy.status != 'a' %}<p><strong>Due to be returned:</strong> {{copy.due_back}}</p>{% endif %}
<p><strong style="font-family:Lobster;">Сведения:</strong> {{copy.imprint}}</p>
<p class="text-muted"><strong style="font-family:Lobster;">Id:</strong> {{copy.id}}</p>

{% endfor %}
</div>
{% endblock %}

